{% extends 'base.html' %}

{% block content %}
<style>
    a{
        color: antiquewhite;
    }
    div:hover{
        background-image: linear-gradient(to bottom right, #33475b, #0033CC, #FF77CC, rgb(255, 122, 89));
    }
</style>

<nav class="navbar navbar-primary bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">TODOLIST Fathan Hadyan - 2106751940</a>
      <div>
          <button class="btn btn-success me-2" >
            <a  href="{% url 'todolist:create-task' %}">Tambah Task Baru</a>
          </button>
          <button class="btn btn-danger">
            <a href="{% url 'todolist:logout' %}">Logout</a>
        </button>
      </div>
    </div>
</nav>
<div class="container p-4 h-100">
    <div class="title mb-4">
        <center style="color:#0F3D3E">
            <h1><b>TODOLIST</b></h1>
            <h1><b>USER: {{user}}</b></h1>
        </center>
    </div>
    <div class="row">
        <div class="col-md-4">
            {% for list in list_todolist %}
            <div class="card text-white bg-secondary mb-3 card text-center">
                    <div class="card-body mb-4">
                        <h4 class="card-title">{{list.title}}</h4>
                        <p> Date : {{list.date}} </p>
                        <p> {{list.description}} </p>
                        {% if list.is_finished %}
                            <h5>Finished</h5>
                        {% else %}
                            <h5>Not Finished</h5>
                        {% endif %}
                        <button class="btn btn-outline-success">
                            <a href="{% url 'todolist:update-task' list.id %}">Update Task</a>
                        </button>
                        <button class="btn btn-outline-danger">
                            <a href="{% url 'todolist:delete-task' list.id %}">Delete</a>
                        </button>
                    </div>
            </div>
            {% endfor %}
        

{% endblock content %}