html {
    height: 100%;
}
body {
    background-image: linear-gradient(to bottom right, #33475b, #0033CC, #FF77CC, rgb(255, 122, 89));
}

table, th {
border: 1px solid black;
}

.bold {
    font-weight: bolder;
}

tr:hover {background-color: #ABD9FF;}

table tr {background-color:#25316D; color:#8758FF; border-color: #003865; }

input.form-control, textarea { background: #97D2EC; }
