{% extends 'base.html' %}

{% block content %}

<h1>Tugas 3 Assignment PBP/PBD</h1>

<h2>Nama: <span class="bold">{{nama}}</span></h2>

<h2>Student ID: <span class="bold">{{student_id}}</span></h2>

<h2>Pesan : <span class="bold">{{message}}</span></h2>

<style>

</style>
<table>
    <tr>
        <th>Pernah Ditonton</th>
        <th>Judul Film</th>
        <th>Rating Film</th>
        <th>Tanggal Rilis</th>
        <th>Review Film</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for film in list_film %}
    <tr>
        <th>{{film.is_watched}}</th>
        <th>{{film.title}}</th>
        <th>{{film.rating}}</th>
        <th>{{film.release_date}}</th>
        <th>{{film.review}}</th>
    </tr>
    {% endfor %}
</table>



{% endblock content %}